@charset "UTF-8";

@media screen and (min-width: 1024px) {
	main {
		background-image: linear-gradient(to bottom, #5e2c82, #49a09d);
	}

	section {
		width: 950px;
		height: 350px;
	}

	div#formulario h1 {
		font-size: 2em;
		width: 50%;
		margin-top: 10px;
	}

	div#formulario p {
		margin: 10px 0px 20px;
		font-size: 1em;
		width: 50%;
	}

	.data {
		width: 50%;
	}

	.data input {
		width: 90%;
	}

	#imagem {
		position: absolute;
		right: 0;
		height: 100%;
		width: 50%;
		border-radius: 0px 10px 10px 0px;
	}

	.btn {
		width: 50%;
		margin-left: 0px;
	}
}