@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100vh;
	font-family: Arial, sans-serif;
	background: #5f2c82;
}

main {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: #5f2c82;
}

section {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	height: 512px;
	width: 280px;
	background: white;
	margin: auto;
	padding: 10px;
	border-radius: 10px;
}

#imagem {
	background: url(../imagens/metal.jpg) center left/cover;
	height: 40%;
	margin: -10px -10px 0px -10px;
	border-radius: 10px 10px 0px 0px ;
}