@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100vh;
	font-family: Arial, sans-serif;
	background: #5f2c82;
}

main {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: #5f2c82;
}

section {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	height: 512px;
	width: 260px;
	background: white;
	margin: auto;
	padding: 10px;
	border-radius: 10px;
}

#imagem {
	background: url(../imagens/metal.jpg) center left/cover;
	height: 40%;
	margin: -10px -10px 10px -10px;
	border-radius: 10px 10px 0px 0px ;
}

#formulario h1 {
	text-align: center;
	margin-bottom: 10px;

}

#formulario p {
	margin-bottom: 10px;
}

#formulario #div-email {
	background: #5f2c82;
	padding: 3px 3px 3px 60px;
	margin: 10px 0;
}

#div-email #email {
	background: #94cfcd;
}