@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1022px) {
	main {
		background-image: linear-gradient(to bottom, #5e2c82, #49a09d);
	}

	section {
		width: 80vw;
		height: 300px;
	}

	section h1{
		margin-left: 30%;
		width: 70%;
	}

	section p {
		margin-left: 30%;
		width: 70%;
	}

	#imagem {
		position: absolute;
		left: 0px;
		width: 30%;
		height: 100%;
		border-radius: 10px 0px 0px 10px ;
	}

	.data {
	    width: 70%;
	    margin-left: 30%;
	}

	.data input {
		width: 90%;
	}

	.btn {
		margin-left: 30%;
		width: 70%;
	}
}